@Styles.Render("~/Assets/CSS/Game.css")
@Scripts.Render("~/Assets/JS/GamePlay.js")
@model Othello.Models.GameModel

@{
    ViewBag.Title = "title";
}

<section class="player" id="player1">
    <img id="blackbug"src="../../Assets/Images/bug.png"/>
    <h2>@Model.player1.Name</h2>
    <h1 id="player1Count">@Model.game.Player1Score</h1>
    <img id="meerkat1" src="../../Assets/Images/maiya.png" />
</section>

<section id="gametable">

    <section id="board">
        <section class="square" id="a1"><img src="" style="display: none;"/></section>
        <section class="square" id="a2"><img src="" style="display: none;"/></section>
        <section class="square" id="a3"><img src="" style="display: none;"/></section>
        <section class="square" id="a4"><img src="" style="display: none;"/></section>
        <section class="square" id="a5"><img src="" style="display: none;"/></section>
        <section class="square" id="a6"><img src="" style="display: none;"/></section>
        <section class="square" id="a7"><img src="" style="display: none;"/></section>
        <section class="square" id="a8"><img src="" style="display: none;"/></section>
        <section class="square" id="b1"><img src="" style="display: none;"/></section>
        <section class="square" id="b2"><img src="" style="display: none;"/></section>
        <section class="square" id="b3"><img src="" style="display: none;"/></section>
        <section class="square" id="b4"><img src="" style="display: none;"/></section>
        <section class="square" id="b5"><img src="" style="display: none;"/></section>
        <section class="square" id="b6"><img src="" style="display: none;"/></section>
        <section class="square" id="b7"><img src="" style="display: none;"/></section>
        <section class="square" id="b8"><img src="" style="display: none;"/></section>
        <section class="square" id="c1"><img src="" style="display: none;"/></section>
        <section class="square" id="c2"><img src="" style="display: none;"/></section>
        <section class="square" id="c3"><img src="" style="display: none;"/></section>
        <section class="square" id="c4"><img src="" style="display: none;"/></section>
        <section class="square" id="c5"><img src="" style="display: none;"/></section>
        <section class="square" id="c6"><img src="" style="display: none;"/></section>
        <section class="square" id="c7"><img src="" style="display: none;"/></section>
        <section class="square" id="c8"><img src="" style="display: none;"/></section>
        <section class="square" id="d1"><img src="" style="display: none;"/></section>
        <section class="square" id="d2"><img src="" style="display: none;"/></section>
        <section class="square" id="d3"><img src="" style="display: none;"/></section>
        <section class="square" id="d4"><img src="../../Assets/Images/whitebug.png"/></section>
        <section class="square" id="d5"><img src="../../Assets/Images/bug.png"/></section>
        <section class="square" id="d6"><img src="" style="display: none;"/></section>
        <section class="square" id="d7"><img src="" style="display: none;"/></section>
        <section class="square" id="d8"><img src="" style="display: none;"/></section>
        <section class="square" id="e1"><img src="" style="display: none;"/></section>
        <section class="square" id="e2"><img src="" style="display: none;"/></section>
        <section class="square" id="e3"><img src="" style="display: none;"/></section>
        <section class="square" id="e4"><img src="../../Assets/Images/bug.png"/></section>
        <section class="square" id="e5"><img src="../../Assets/Images/whitebug.png"/></section>
        <section class="square" id="e6"><img src="" style="display: none;"/></section>
        <section class="square" id="e7"><img src="" style="display: none;"/></section>
        <section class="square" id="e8"><img src="" style="display: none;"/></section>
        <section class="square" id="f1"><img src="" style="display: none;"/></section>
        <section class="square" id="f2"><img src="" style="display: none;"/></section>
        <section class="square" id="f3"><img src="" style="display: none;"/></section>
        <section class="square" id="f4"><img src="" style="display: none;"/></section>
        <section class="square" id="f5"><img src="" style="display: none;"/></section>
        <section class="square" id="f6"><img src="" style="display: none;"/></section>
        <section class="square" id="f7"><img src="" style="display: none;"/></section>
        <section class="square" id="f8"><img src="" style="display: none;"/></section>
        <section class="square" id="g1"><img src="" style="display: none;"/></section>
        <section class="square" id="g2"><img src="" style="display: none;"/></section>
        <section class="square" id="g3"><img src="" style="display: none;"/></section>
        <section class="square" id="g4"><img src="" style="display: none;"/></section>
        <section class="square" id="g5"><img src="" style="display: none;"/></section>
        <section class="square" id="g6"><img src="" style="display: none;"/></section>
        <section class="square" id="g7"><img src="" style="display: none;"/></section>
        <section class="square" id="g8"><img src="" style="display: none;"/></section>
        <section class="square" id="h1"><img src="" style="display: none;"/></section>
        <section class="square" id="h2"><img src="" style="display: none;"/></section>
        <section class="square" id="h3"><img src="" style="display: none;"/></section>
        <section class="square" id="h4"><img src="" style="display: none;"/></section>
        <section class="square" id="h5"><img src="" style="display: none;"/></section>
        <section class="square" id="h6"><img src="" style="display: none;"/></section>
        <section class="square" id="h7"><img src="" style="display: none;"/></section>
        <section class="square" id="h8"><img src="" style="display: none;"/></section>
    </section>

</section>

<section class="player" id="player2">
    <img id="whitebug"src="../../Assets/Images/whitebug.png"/>
    <h2>@Model.player2.Name</h2>
    <h1 id="player2Count">@Model.game.Player2Score</h1>
    <img id="meerkat2" src="../../Assets/Images/oleg.png"/>
</section>

@Scripts.Render("~/Scripts/jquery-1.10.2.js");
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js");
@Scripts.Render("~/Assets/JS/GamePlay.js");



